.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}

.faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    margin-top: -10px;
}

#preferred {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.faq-title h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
}

.faq-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}

.faq {
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
    padding: 0px;
    border: none;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}

.faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #E91E63;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
}

.faq .card .card-body {
    padding: 30px;
    padding-left: 35px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
    margin-bottom: 14px;
}

@media (max-width: 991px) {
    .faq {
        margin-bottom: 30px;
    }
    .faq .card .card-header .faq-title {
        line-height: 26px;
        margin-top: 10px;
    }
}

.container {
    width: 100% !important;
    max-width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

@media (min-width: 600px) {}

@media (min-width: 900px) {}

#invalidWarning {
    color: #E91E63;
    margin-top: 20px;
    display: none;
}

#emptyWarning {
    color: red;
    margin-top: 20px;
    display: none;
}

.button {
    margin: 0.4em;
    padding: 0.8em;
    cursor: pointer;
    background: #ececec;
    text-decoration: none;
    color: #666;
    border-radius: 5px;
}

.float-shadow {
    display: inline-block;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
}

.float-shadow:hover {
    transform: translateY(-5px);
}

.float-shadow:hover:before {
    opacity: 1;
    transform: translateY(5px);
}

.w3-input {
    display: inline-block !important;
}

.w3-container {
    display: flex !important;
    flex-direction: row !important;
}

.card-body ol li a:hover {
    text-decoration: none;
}

.navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

#navbarSupportedContent {
    margin-right: 0px;
}

.navbar a {
    margin-left: 5%;
}

.navbar button {
    margin-right: 5%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/Box */

.modal-content {
    background-color: #E91E63 !important;
    opacity: 1 !important;
    color: white;
    margin: 0% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: white !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
}

#myModal {
    opacity: 0.9;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    margin-top: 10%;
}


/* Mixings &  Variables */

.clearfix,
.clearfix:before,
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
    zoom: 1;
}


/* Resets */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #EDF2F6;
    font-family: Arial;
    color: #444;
}

.wrap {
    margin: 0 auto;
    padding: 50px;
    max-width: 1200px;
}


/* Bar Graph Class */

.barGraph {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 50px;
}

.graph {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 4%);
    left: 4%;
}

.graph-barBack {
    border-radius: 2px;
    background: #DAE4EB;
    margin-bottom: 10px;
    display: block;
}

.graph-bar {
    background-color: #E91E63;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    z-index: 9999;
    display: block;
    height: 20px;
    width: 0%;
}

.graph-bar:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #e887a7;
}

.graph-bar:last-child {
    margin-bottom: 0;
}

.graph-bar:after {
    position: absolute;
    content: attr(data-value);
    display: none;
    font-size: 12px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 20px;
    height: 20px;
    padding: 0 10px;
    margin-left: 5px;
    left: 100%;
    top: 0;
}

.graph-bar:hover:after {
    display: block;
}

.graph-legend {
    position: block;
    margin-right: 10px;
    left: -100px;
    z-index: 9999;
}


/* Bubble Chart */

.chart {
    border-radius: 3px;
    border: 2px solid rgba(113, 125, 149, 0.45);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.chart-bubble {
    overflow: hidden;
    background-color: #E91E63;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    min-height: 10px;
    min-width: 10px;
    z-index: 999;
    bottom: 0;
    left: 0;
}

.chart-bubble:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #e887a7;
}

.chart-bubble:after {
    position: absolute;
    content: attr(data-label);
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50%;
    line-height: 1px;
    font-size: 15px;
    color: #fff;
}

.chart-bubble:hover:after {
    display: block;
}


/* Lines for Charts */

.lines {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
}

.lines-horz {
    border-bottom: 1px dashed rgba(113, 125, 149, 0.4);
    position: absolute;
    width: 100%;
    height: 0px;
}

.lines-horz:nth-of-type(1) {
    top: 20%;
}

.lines-horz:nth-of-type(2) {
    top: 40%;
}

.lines-horz:nth-of-type(3) {
    top: 60%;
}

.lines-horz:nth-of-type(4) {
    top: 80%;
}

.lines-vert {
    border-right: 1px dashed rgba(113, 125, 149, 0.4);
    position: absolute;
    height: 100%;
    width: 1px;
}

.lines-vert:nth-of-type(5) {
    left: 20%;
}

.lines-vert:nth-of-type(6) {
    left: 40%;
}

.lines-vert:nth-of-type(7) {
    left: 60%;
}

.lines-vert:nth-of-type(8) {
    left: 80%;
}


/* Line Graph */

.lineChart {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 3px;
    border: 2px solid rgba(113, 125, 149, 0.45);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.lineChart svg {
    position: absolute;
    z-index: 999;
}

.lineChart circle {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    cursor: pointer;
    stroke: #E91E63;
    stroke-width: 3;
    fill: #E91E63;
}

.lineChart circle:hover {
    stroke-width: 8;
}

.lineChart line {
    stroke: #717D95;
    stroke-width: 4;
}

.trend line {
    stroke: rgba(204, 51, 51, 0.8);
}

#myBtn {
    color: #E91E63;
    border-color: #E91E63;
}

#myBtn:hover {
    color: white;
    background-color: #E91E63;
}

.navbar-brand {
    font-weight: bolder;
}

#topicsDict {
    display: none;
}

.buffer {
    display: inline-block;
    height: 5px;
    width: 10px;
}